aulas/aula2.txt
aulas/aula3.txt
aulas/aula4.txt
/.idea
exers_gpt.hs
livro_cap5.hs
prova_cc10.hs
prtc_sala.txt
bubblesort.hs
exer_zf.hs
lista_gpt.hs
lista_monitoria.hs
lista_zf.hs
polimorfismo.hs
provas.hs
zf.hs
atv_aula8.hs
/exercicios/Lista_Exercicios.md